{% extends "layout.html" %}

{% block content %}
  <main class="about-section">
    <div class="container">
      
  <div class="section-content">
        <h2> Projekt- und Userverwaltung </h2>
        <br/>
        <br/>
        Neues Projekt hinzufügen:
        <br>
        <br>
          <form action = "/upload_rooms" method = "POST" enctype = "multipart/form-data">
              Projektname: <input type="text" name="name">
              <p>CSV hochladen: 
              <input type = "file" name = "the_file" /> </p>
              
              <input type = "submit" class="button button1" value="Hinzufügen">
          </form>
        <br>
        <br>
        Neuen User hinzufügen:
        <br/>
        <br/>
        <form action="/new_user" method="POST">
            Projekt: <select name="projectname">
                          {% for projects in datas %}
                          <option>{{ projects.projectname }}</option>
                          {% endfor %}
                     <select>
             <br/>
            Username: <input type="text" name="username" placeholder="username">
             <br/>
            Password: <input type="text" name="password" placeholder="password">
             <br/>
            Rolle: <select name="role">
                <option value='2'>user</option>
                <option value='3'>superuser</option>
              <select>
              <br>
              <br/>
             <input type="submit" class="button button1" value="Hinzufügen">
        </form>
        <br>
        <br>
        Terminplan hinzufügen:
        <br>
        <br>
          <form action = "/upload_terminplan" method = "POST" enctype = "multipart/form-data">
              <p>CSV hochladen: 
              <input type = "file" name = "the_file" /> </p>
              <input type = "submit" class="button button1" value="Hinzufügen">
          </form>
        <br>
        <br>
        
  </div>

    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    <br>
    <br>


<head>
        <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even){background-color: #f2f2f2}
        th {
            background-color: #008CBA;
            color: white;
        }
        </style>
        </head>
        <body>



  <h2>Aktuelle Projekte</h2>

        <table>
          <tr>
            <th>Projektname</th>
            <th>Filename</th>
        <br>
          </tr>
           {% for projects in datas %}
          <tr>
            <td>{{ projects.projectname }}</td>
            <td>{{ projects.filename }}</td>
          </tr>
          {% endfor %}
        </table>

  <br>
  <h2>Alle Benutzer </h2>
      
      <table>
          <tr>
            <th>UserId</th>
            <th>Username</th>
            <th>Passwort</th>
            <th>Rolle</th>
            <th>Projekt</th>
        <br>
          </tr>
           {% for users in users_data %}
          <tr>
            <td>{{ users.user_id }}</td>
            <td>{{ users.username }}</td>
            <td>{{ users.password }}</td>
            <td>{{ users.role }}</td>
            <td>{{ users.projectname }}</td>
          </tr>
          {% endfor %}
        </table>

    <br>


    <h2>Terminplan</h2>
      
      <table>
          <tr>
            <th>UserId</th>
            <th>VorgangsId</th>
            <th>Vorgang</th>
            <th>Nachfolger</th>
        <br>
          </tr>
           {% for tasks in tasks_data %}
          <tr>
            <td>{{ tasks.userid }}</td>
            <td>{{ tasks.task_id }}</td>
            <td>{{ tasks.task }}</td>
            <td>{{ tasks.successor }}</td>
          </tr>
          {% endfor %}
        </table>

      </body>

      <br>
        <br>
        <a href="/" class="button button1" >Go Back</a>
        <br>
        <br>
    </div>
  </main>
{% endblock %}
<!-- -->